<html>
{{#getJSON 'dataAbout'}}
<head>
    <title>{{title}}</title>
</head>
<body>
    {{> partials/header}}
    <hr>
    {{> partials/navmenu}}
    <hr>
    {{content}}
    <hr>
    {{> partials/footer}}
</body>
{{/getJSON}}
</html>