<html>
{{#getJSON 'data'}}
<head>
    <title>{{title}}</title>
</head>
<body>
    {{> partials/header}}
    <ul class="navMenu">
        {{#each navMenu}}
        <li><a href="{{link}}">{{caption}}</a></li>
        {{/each}}
    </ul>
    <hr>
    {{content}}

    {{> partials/footer}}
</body>
{{/getJSON}}
</html>