<html>
    <body>
        <h3>Welcome {{htmlWebpackPlugin.options.data.username}}</h3>
        <p>Part 2</p>
        {{#content 'getJSON'}}
            {{log 'username = '}}
            {{log username}}
        {{/content}}
    </body>
</html>